#include "resource.h"

login PNG			"login.png"
LOGIN JPG			"LOGIN.jpg"
display_error PNG   "error.png"
png_stock	PNG		"stock.png"
png_report	PNG		"report.png"
png_sales	PNG		"sales.png"	
png_users	PNG		"users.png"
png_appointment	JPG "appointment.jpg"
png_settings	PNG  "settings.png"
png_search		PNG	 "search.png"
png_new_user	PNG	  "new_user.png"